h1 {
    position: fixed;/* Zorgt ervoor dat Sidebar op plek blijft, zelfs als je moet scrollen*/
    color: orange;
    top: 0;			/*Ik moet echter wel een plek definiëren waar het moet blijven 'plakken' wilt het 'fixed' werken. */
    left: 50px;
    text-shadow: 10px 10px 5px grey;
}

h2 {
    background-color: #f1f1f1;
}


.sideBarBlock li a {
    width: 168px;
    display: block; /*Zorgt ervoor dat het block klikbaar wordt ipv een stukje tekst */
    color: #000;
    padding: 8px 16px;
    text-decoration: none; /*zorgt ervoor dat properties als underline wegblijven*/

}

.sideBarBlock li a:hover { /*Zorgt ervoor dat wanneer muis er overheen gaat, kleuren veranderen op sidebar */
	background-color: orange;
	color: white;
	box-shadow: 10px 10px 5px grey;
}

.sideBar {
	list-style-type: none; /*Verwijderd alle bullets, rondjes etc. bij de opsomming */
	margin: 52px 0 0 0; /* verkleinen van code, boven - rechts - onder - links */
	padding:0;
	width: 200px;
    background-color: #f1f1f1;
    height: 100%; /* Volledige grootte */
    position: fixed; /* Zorgt ervoor dat Sidebar op plek blijft, zelfs als je moet scrollen*/
    box-shadow: 10px 10px 5px grey;
}

.active {
	background-color: orange;
	color: white;
	box-shadow: 10px 10px 5px grey;
}


.introduction {
	text-align: justify; /* Stretched de zinnen om zo'n manier dat elke zin een gelijke breedte heeft */
	max-width: 800px;
	margin: 20px 20px 20px 0;
}

.ik{
	float: left;
	margin: 0 20px 20px 10px;
	border:2px solid;
	border-radius: 15px;
	width: 250px;
	box-shadow: 10px 10px 5px grey;
}


.introductionBlock {
	border-style: groove;
	border-radius: 15px;
	overflow: hidden;
	max-width: 800px;
	border-color: orange;
	margin-left: auto; /*left en right naar auto om de boel te centreren */
	margin-right: auto;

}



.Competenties {
	font-family: "Courier New", Courier, Monospace; 
	font-style: italic;
	text-align: justify;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.Competenties li {
	margin-top: 20px;
}

.validate {
	margin-left: 250px;
}

.footer {
	position: fixed; 	/*definieert de positie methode van de footer - absolute, static, fixed, sticky etc.*/
	left: 0;			/*geeft de exacte positie van de footer weer */
	bottom: 0;			/* In dit geval zorgt position fixed ervoor dat de footer op zijn plek blijft, zelfs tijdens scrollen */
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.footer p {
	display: inline;
	margin-left: 50px;
}

.logo {
    position: fixed; /*definieert de positie methode van de afbeelding - absolute, static, fixed, sticky etc.*/
    right: 0px; /*geeft de exacte positie van de afbeelding weer */
    bottom: 0px; /* In dit geval zorgt position fixed ervoor dat de logo op zijn plek blijft, zelfs tijdens scrollen */
}

@media(max-width: 1270px){ /*ik zeg nu: bij deze breedte en kleiner moet er het volgende gebeuren; */

.introductionBlock {
	margin-left: 250px;
}
.Competenties {
	margin-left: 250px;
}
.logo {
	display: none; /*Logo verdwijnt nu.*/
}

}
