.sideBarBlock li a {
    width: 168px;
    display: block; /*Zorgt ervoor dat de tekst een blok wordt zodat je op een blok klikt ipv. een stuk tekst */
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sideBarBlock li a:hover { /*Zorgt ervoor dat wanneer muis er overheen gaat, kleuren veranderen op sidebar */
	background-color: orange;
	color: white;
}

.sideBar {
	list-style-type: none;
	margin: 0;
	padding:0;
	width: 200px;
    background-color: #f1f1f1;
    height: 100%; /* Volledige grootte */
    position: fixed; /* Zorgt ervoor dat Sidebar op plek blijft, zelfs als je moet scrollen*/
    margin-top: 52px;
}

.active {
	background-color: orange;
	color: white;
}

.logo {
    position: fixed; /*definieert de positie methode van de afbeelding - absolute, static, fixed, sticky etc.*/
    right: 0px; /*geeft de exacte positie van de afbeelding weer */
    bottom: 0px;
}

h2 { 
    font-family: Helvetica, Arial, sans-serif;  
    font-style: italic;
    text-align: justify;
    max-width: 800px;
    margin-left: 250px; 
    color: orange;
}

p {
    font-family: Helvetica, Arial, sans-serif; 
    font-style: italic;
    text-align: justify;
    margin-right: 20px; 
}

h1 {
    position: fixed;
    color: orange;
    top: 0;
    left: 50px;
}

.whyBlock{
    border-style: groove;
    border-radius: 15px;
    overflow: hidden;
    max-width: 1000px;
    border-color: orange;
    margin-left: 250px;
}
.programming {
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    width: 500px;
}
