body{

	background-image: url(backgroundhomepage.jpg);
	background-size: cover;
}
div{
    width: 530px;
    border: 5px solid black;
    padding: 10px;
    padding-bottom: 10px;
   
    max-height: 300px;
    overflow: hidden;
    border-radius: 15px;
    -moz-border-radius: 15px;
} 
img{
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
}
.kop1{
	background-color: #affaeb;
	color: black;
	padding: 5px;
	width: 809px;
}

.kop2{
	background-color: #affaeb;
	color: black;
	padding: 5px;
	width: 740px;
}

.kop3{
	background-color: #affaeb;
	color: black;
	padding: 5px;
	width: 1072px;
}

.kop4{
	background-color: #affaeb;
	color: black;
	padding: 5px;
	width: 1072px;
}

.kop5{
	background-color: #affaeb;
	color: black;
	padding: 5px;
	width: 725px;
}

hr {
    height: 5px;
    color: black;
    background-color: black;
    border: none;       
}
p {
	font-size: 15px;
	font-weight: 
	font-family: "Times New Roman", Times, serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #17bf2c;
}