h1.first {
    font-size : 60px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 10px;
}
h1.first2 {
    font-size : 45px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 10px;
    margin-top: 50px
}
h1.first3 {
    font-size : 43px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 10px;
    margin-top: 50px
}
h1.second {
    font-size : 60px;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-right: 210px;
}
body {
    background: -webkit-linear-gradient(left, grey, grey 30%, rgb(214, 213, 213) 30%, rgb(214, 213, 213));
}
img.profile{
    width: 200px;
    float: right;
    border: 1px solid rgb(82, 81, 81);
    margin-right: 40px;
    border-radius: 80px;
    padding: 0px;
}
img.schoolLogo{
    width: 180px;
    float: right;
    padding: 4px;
}
a.hLink {
    margin: 20px;
    text-decoration: none;
    color: initial;
    font-style: oblique ;
    font-size: 20px;
}
a.hhLink {
    margin: 20px;
    text-decoration: none;
    color: initial;
    font-size: 20px;
}
div.grayArea{
    width: 450px;
    float: left;
}
div.text{
    float: right;
    width: 750px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
div.subtitle{
    float: right;
    width: 750px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
div.creator {
    text-align: right;
    position: relative;
    position: absolute;
    bottom: 5px;
    float: right;
}